<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Compteur python</title>

    <script src="index.js" defer></script>

</head>
<body>



    <h1>Compteur python</h1>
    <p>Compteur : <span id="compteur">LOADING</span></p>

    <button id="plus">PLUS (+)</button>

    <button id="moins">MOINS (-)</button>

    <button id="refresh">Refresh</button>



    
</body>

</html>